<!--<h1>New Store</h1>-->

<nav>
<ul>
  <li>
  <div class="dropdown">
    <a href="#" class="dropbtn">File</a>
    <div class="dropdown-content">
      <a id="submit-btn" class="submit-btn">Save</a>
      <a href="#">SaveAs</a>
      <a href="#">Open</a>
    </div>
  </div>
  </li>
  <li><a>Edit</a></li>
  <li><a>Help boga oooooooga</a></li>
</ul>
</nav>

<%= render 'form' %>

